﻿body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-height: 900px;
    background-color: #031337;
}

#wrapper {
    width: 900px;
    margin: auto;
    height: auto;
    margin-top: 20px;
    padding: 0px;
}

#header {
    width: 100%;
    height: 135px;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 0px;
    background-image: url("images/banner.jpg");
}

#content {
    width: 75%;
    min-height: 700px;
    float: left;
    border: 1px solid black;
}

#side-banner {
    width: 23%;
    min-height: 700px;
    float: right;
    border: 1px solid black;
}

#footer {
    height: 90px;
    width: 100%;
    border: 1px solid black;
    margin-top: 10px;
    float: left;
}

#menu{
    min-width: 100%;
    padding: 0px;
    margin-top: 30px;
    text-align: center;
}

#menu li{
    width: 150px;
    display: inline-block;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 50px;
    text-align: center;
    cursor: pointer;
}

#menu li a {
    display: block;
    width: 150px;    
}

#menu li:hover > a > img {
    visibility: hidden;
    cursor: pointer;
}

#li-news {
    background-image: url("images/menu/news glow.png");
}

#li-gamejam {
    background-image: url("images/menu/gamejam glow.png");
}

#li-media {
    background-image: url("images/menu/media glow.png");
}
#li-join {
    background-image: url("images/menu/join glow.png");
}

#li-friends {
    background-image: url("images/menu/friends glow.png");
}

#li-about {
    background-image: url("images/menu/about glow.png");
}